<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQL Server" connectionString="Initial Catalog=Northwind;Server=(Local);Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="DataAccess.Properties.Settings.DBConnection" connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>