<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HNotePad__.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HNotePad__.Properties.Settings>
            <setting name="FontOfTextFiles" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
            <setting name="IsWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Print_Font" serializeAs="String">
                <value>Tahoma, 8.25pt, style=Bold</value>
            </setting>
            <setting name="Print_Color" serializeAs="String">
                <value>Black</value>
            </setting>
        </HNotePad__.Properties.Settings>
    </userSettings>
</configuration>